<div class="d-flex flex-row">
  <div class="navbar col-sm-4">
    <span class="copyright">Copyright <span>&#169;</span> 2022 LeetCode</span>
  </div>

  <div class="col-sm-8">
    <ul class="navbar nav-footer mb-0 justify-content-end">
      <a class="nav-item">
        <a class="nav-link" href="#">Help Center <span><span>&nbsp;|</span></span></a>     
      </a>
      <a class="nav-item">
        <a class="nav-link" href="#"><span>&nbsp;</span>Jobs <span><span>&nbsp;|</span></span></a>
      </a>
      <a class="nav-item">
        <a class="nav-link" href="#"><span>&nbsp;</span>Bug Bounty <span><span>&nbsp;|</span></span></a>
      </a>
      <a class="nav-item"><a class="nav-link" href="#"><span>&nbsp;</span>Students <span><span>&nbsp;|</span></span></a></a>
      <a class="nav-item"><a class="nav-link" href="#"><span>&nbsp;</span>Terms <span><span>&nbsp;|</span></span></a></a>
      <a class="nav-item"> <a class="nav-link" href="#"><span>&nbsp;</span>Privacy Policy <span><span>&nbsp;</span></span></a></a>
      <a class="navbar-brand" href="#">
        <img src={{img}} alt="us" width="14" height="14" class="d-inline-block">
      </a>
    </ul>
  </div>
</div>