<div class="d-flex flex-row">
  <div class="navbar footer-content col-sm-4">
    <small class="copyright">Copyright <span>&#169;</span> 2022 LeetCode</small>
  </div>

  <div class="footer-content col-sm-8 justify-content-end">
    <ul class="nav-footer">
      <li class="nav-item">
        <a class="nav-link" href="#">Help Center </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Jobs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bug Bounty </a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Online Interview </a></li>
      <li class="nav-item"><a class="nav-link" href="#">Students </a></li>
      <li class="nav-item"><a class="nav-link" href="#">Terms </a></li>
      <li class="nav-item"> <a class="nav-link" href="#">Privacy Policy </a></li>
      <a class="navbar-brand" href="#">
        <small>United States</small>
        <img src={{img}} alt="us" width="14" height="14" class="d-inline-block">
      </a>
    </ul>
  </div>
</div>