<div class="container-fluid">
  <lc-header>Loading Header</lc-header>
</div>

<h6>Our Business Development Associate will reach out to you within 2 business days!
    Please stay tuned ;) </h6>
<form>
    <div class="mb-3">
    <label for="first-name" class="form-label">First name</label>
    <input type="name" class="form-control" id="first-name" placeholder="First name">
</div>

<select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <label for="select" class="select-label">You're interested in</label>
    <option selected>- Select an option -</option>
    <option value="1">Sonsoring a LeetCode Contest</option>
    <option value="2">Talent Souring Solutions</option>
    <option value="3">Talent Assessment Solutions</option>
    <option value="4">LeetCode Premium Orgnizational Access</option>
    <option value="5">Others</option>
  </select>
  <h4>Anything else you'd like to share</h4>
  <div class="mb-3">
    <textarea class="form-control" id="share" rows="3"></textarea>
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </div>
</form>
<div class="container-fluid">
  <lc-footer>Loading footer</lc-footer>
</div>