<div class="header">
  <div class="header-content row">
    <nav class="navbar navbar-light top-0">
      <div class="container-fluid">
        <ul class="nav flex-col-sm-8">
          <img src={{img}} alt="logo" width="83" height="20" class="ml-20">
          <a class="nav-link ml-20" href="/explore">Explore </a>
          <a class="nav-link" href="problemSets">Problems </a>
          <div class="dropdown">
            <a class="btn btn-light" href="#">
              Interview
              <span class="position-absolute top-0 start-95 translate-middle badge rounded-pill bg-danger">
                New
                <span class="visually-hidden">news</span>
              </span>
            </a>
              <ul class="dropdown-menu">
                <li> <a class="dropdown-item" href="#">Online Interview</a></li>
                <li> <a class="dropdown-item" href="#">Assessment</a></li>
              </ul>
          </div>
          <a class="nav-link" href="#">Contest </a>
          <a class="nav-link" href="#">Discuss </a>
          <a class="nav-link active" href="#">
            <svg viewBox="0 0 24 24" width="1em" height="1em" class="icon__1Md2 store-icon__2GQ5">
              <path fill-rule="evenodd"
                d="M4 4h16v2H4V4zm10 14h4v2h-4v-2zM4 7h16l1 5v2h-1v6h-2v-6h-4v6H4v-6H3v-2l1-5zm2 7v4h6v-4H6zm12.96-2l-.6-3H5.64l-.6 3h13.92z">
              </path>
            </svg>
            Store</a>
        </ul>
       <ul class="nav flex-col-sm-4 justify-content-end">
          <a class="nav-link" href="#">Premium </a>
          <a class="nav-link" href="#">
          <svg viewBox="0 0 24 24" width="1em" height="1em" class="icon__1Md2 new-playground-icon__k2eV nav-icon__T80b">
            <path fill-rule="evenodd"
              d="M21 5H3v14h9v2H1V3h22v7h-2V5zm-3 11v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3zM6 8l7 4.001L6 16v-2.303l2.969-1.696L6 10.303V8z">
            </path>
          </svg>
          <span class="visually-hidden">Playground</span></a>
          <a class="nav-link" href="#"> Sign up</a> 
          <div class="auth-link-divider">or</div>
          <a class="nav-link" href="#"> Sign in</a>
        </ul>
     </div> 
    </nav>
  </div>
</div>