<div class="row container-fluid">
   <div class="col-sm-8"> 
     <div class="position-absolute top-0 start-0">
       <nav class="navbar navbar-left-container navbar-light bg-light m-10">
          <a class="navbar-brand-image" href="#">
            <img src={{img}} alt="" width="140" height="80" class="d-inline-block align-text-top">
          </a>          
          <ul class="nav flex-row">
           <li class="nav-item ">
             <a class="nav-link " href="#">Explore  </a>
             </li>
             <li class="nav-item ">
              <a class="nav-link" href="#">Problems  </a> 
             </li> 
              <li class="nav-item ">
                <a class="nav-link" href="#">Interview  </a>  
                <span class = "position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">New</span>
                
              </li> 
              <li class="nav-item ">
              <a class="nav-link" href="#">Contest  </a>  
             </li> 
              <li class="nav-item ">
              <a class="nav-link" href="#">Discuss  </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="#">Store</a>
            </li>
          </ul>
         </nav>
      </div>
      </div>
    <div class="col-sm-4"> 
      <nav class="navbar navbar-expand-sm navbar-light bg-light m-4">
        <div class="d-flex">                
            <ul class="nav flex-row justify-content-end">
             <li class="nav-item ">
               <a class="nav-link " href="#">Premium  </a>
               </li>
               <a>New Playgound  </a>
               <li class="nav-item ">
                <a class="nav-link" href="#">Sign up  </a> 
               </li> 
                <a>or</a>
                <li class="nav-item ">
                <a class="nav-link" href="#">Sign in</a>
              </li>
          </ul>
          </div>  
      </nav>   
    </div>
  </div> 

  
   
    
  
  