<div class="footer">
  <div class="footer-content row">
    <nav class="navbar navbar-expand-sm col-sm-8">
      <div class="container-fluid">
        <span>Copyright <span>&#169;</span> 2022 LeetCode</span>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav d-flex">
          <a class="nav-item">
            <a class="nav-link" href="#">Help Center </a>
          </a>
          <a class="nav-item">
            <a class="nav-link" href="#">Jobs </a>
          </a>
          <a class="nav-item"><a class="nav-link" href="#">Bug Bounty </a></a>
          <a class="nav-item"><a class="nav-link" href="#">Online Interview </a></a>
          <a class="nav-item"><a class="nav-link" href="#">Students </a></a>
          <a class="nav-item"><a class="nav-link" href="#">Terms </a></a>
          <a class="nav-item"> <a class="nav-link" href="#">Privacy Policy </a></a>
        </ul>
      </div>
      </div>
    </nav>
    <nav class="navbar col-sm-4">
      <ul class="navbar-light bg-light">
        <div class="nav-item position-absolute end-0">
          <a class="navbar-brand" href="#">
           <small>United States</small>
            <img src={{img}} alt="us" width="14" height="14" class="d-inline-block">
          </a>
        </div>
      </ul>
    </nav>
  </div>


</div>