<div class="row container-fluid px-10">
    <div class="d-flex p-2">
      <span class="navbar-brand mb-0 ">
        Copyright <span>&#169;</span> 2022 LeetCode
      </span> 
       <nav class="navbar navbar-light bg-light justify-content-end">   
        <ul class="list-group list-group-horizontal-xl flex-fill">
          <li class="list-group-item">
            <a class="nav-link" href="#">Help Center </a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="#">Jobs </a>
          </li>
          <li class="list-group-item"><a class="nav-link" href="#">Bug Bounty </a></li>
          <li class="list-group-item"><a class="nav-link" href="#">Online Interview </a></li>
          <li class="list-group-item"><a class="nav-link" href="#">Students </a></li>
          <li class="list-group-item"><a class="nav-link" href="#">Terms </a></li>
          <li class="list-group-item"> <a class="nav-link" href="#">Privacy Policy </a></li>
          <li class="list-group-item">
          <a class="navbar-brand" href="#">
            United States
            <img src={{img}} alt="" width="14" height="14" class="d-inline-block align-text-top">
            
          </a>
          </li>
      </ul>  
   </nav>
   </div>
</div>