<div class="container-fluid d-flex">
  <div class="nav navbar flex-row">
    <div class="navbar footer-content text-left">
      <p class="copyright">Copyright <span>&#169;</span> 2022 LeetCode</p>
    </div>

    <div class="navbar footer-content text-right">
      <div class="d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link" href="#">Help Center </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Bug Bounty </a></li>
        <li class="nav-item"><a class="nav-link" href="#">Online Interview </a></li>
        <li class="nav-item"><a class="nav-link" href="#">Students </a></li>
        <li class="nav-item"><a class="nav-link" href="#">Terms </a></li>
        <li class="nav-item"> <a class="nav-link" href="#">Privacy Policy </a></li>
        <a class="navbar-brand" href="#">
          <p>United States</p>
          <img src={{img}} alt="us" width="14" height="14" class="d-inline-block">
        </a>
      </div>
    </div>

  </div>

</div>