<form action="/action_page.php">
    <div>
        <img src ={{imglc}} alt="logo" width="20" height="20">
    </div>
    <div class="mb-3 mt-3">
      <input type="Username or Email" class="form-control" id="Username or E-mail" placeholder="Username or Email" name="Username or Email">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="pwd" placeholder="Password" name="pswd">
    </div>
    <button type="signin" class="btn btn-primary">Sign In</button>
  </form> 