<div class="container-fluid">
  <lc-header>Loading header</lc-header>
</div>

<div class="container text-center" style="width:50%; background-color: white;">
  <form action="/action_page.php">
    <div class="lc-logo text-center">
      <img src={{imglc}} alt="logo" width="80" height="80">
      <h5>LeetCode</h5>
    </div>
    <div class="mb-3 mt-3">
      <input type="Username or Email" class="form-control" id="Username or E-mail" placeholder="Username or Email"
        name="Username or Email">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="pwd" placeholder="Password" name="pswd">
    </div>
    <button type="signin" class="btn btn-primary">Sign In</button>
    <div class="form-bottom row">
      <a class="col-sm-6">
        Forgot password?
      </a>
      <a href="accounts/signin" class="col-sm-6">Sign in</a>
    </div>
  </form>
</div>
<div class="container-fluid">
  <lc-footer>Loading footer</lc-footer>
</div>