<div class="container-fluid top-base top-0" style="height: max-content;">
    <lc-user-info>Loading...</lc-user-info>
    <div class="container px-15" style="height:auto">
        <lc-landingHeader>Loading header</lc-landingHeader>
    </div>
</div>


<div class="container-fluid-body">
    <div id="ipad&text" class="d-flex-explore row">
        <div class="col-md-6 px-5" style="margin: auto;">
            <div class="ipad" style="height: 384px">
                <lc-ipad> Loading ipad</lc-ipad>
            </div>
        </div>
        <div class="col-md-6 px-5" style="margin: auto;">
            <lc-textContent>Loading textContent</lc-textContent>
        </div>
    </div>
    <div id="explore-card" class="d-flex flex-row">
        <div class="col-sm-6">
            <lc-startExplore> Loading explore</lc-startExplore>

        </div>
    </div>
    <div id="problem-business" class="d-flex-problem row">
        <div class="container lc-questions col-sm-6">
            <lc-questions>Loading questions </lc-questions>


        </div>
        <div class="container lc-company col-sm-6">
            <lc-company>Loading company</lc-company>
        </div>
    </div>
    <div class="developer justify-content-center">
        <lc-developer>Loading...</lc-developer>
    </div>

    <div id="joinUs" class="d-flex flex-row">
        <div id="hire info" class="col-sm-12 lc-joinUs">
            <lc-joinUs>Loading hire</lc-joinUs>
        </div>
    </div>
</div>

<div class="container-fluid bottom-base pe-20 end-0">
    <div class="container-fluid px-15">
        <lc-ft>Loading footer</lc-ft>
    </div>
</div>
