<div class="col-sm-6">
    <div class="content">
        <div class="icon-set">
            <div class="feature-icon-base no-badge" style="transform: scale(0.7);">
                <div class="icon gold job-icon">
                    <div class="circle"><i class="fa fa-briefcase"></i></div>
                </div>
            </div>
            <div class="feature-icon-base no-badge" style="transform: scale(0.7);">
                <div class="icon silver work-icon">
                    <div class="circle"><i class="fa fa-building"></i></div>
                </div>
            </div>
        </div>
        <h2 style="color: rgb(183, 137, 43);">Companies &amp; Candidates</h2>
        <p><span>Not only does LeetCode prepare candidates for technical interviews, we also help companies identify top
                technical talent. From sponsoring contests to providing online assessments and training, we offer
                numerous services to businesses.</span></p><a href="/business/contact/" target="_blank">
            <p class="link">Business Opportunities &nbsp;<i class="fa fa-angle-right" aria-hidden="true">

                </i></p>
        </a>
    </div>
</div>