<div class="container-fluid">
    <div class="inner row">
        <div class="col-md-10 col-md-push-1">
            <div class="content text-center">
                <div class="feature-icon-base no-badge" style="transform: scale(0.7);">
                    <div class="icon teal develop-icon">
                        <div class="circle"><i class="fa fa-code"></i></div>
                    </div>
                </div>
                <h2>Developer</h2>
                <p><span>We now support 14 popular coding languages. At our core, LeetCode is about developers. Our
                        powerful development tools such as Playground help you test, debug and even write your own
                        projects online.</span></p>
                <div class="playground-demo-base">
                    <div class="playground-list-select-base">
                        <div class="visible-xs pull-right playground-list-select-caret">
                            <i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                <select class="visible-xs playground-list-select form-control">
                            <option value="0">Linked List</option>
                            <option value="1">Binary Tree</option>
                            <option value="2">Fibonacci</option>
                        </select>
                    </div>
                    <div class="playground-demo">
                        <div class="playground-iframe">
                            <div data-show="true" class="background-loader loading-area__2xs9" style="height: auto;">
                                <span class="loading__2SyG fa fa-spinner fa-pulse fa-fw loading-icon__1IZD"
                                    data-show="true"></span></div>
                            <div><iframe class="" src="https://leetcode.com/playground/UpwhGDg6/shared" height="400"
                                    frameborder="0"></iframe></div>
                        
                            <div></div>
                        </div>
                        <ul class="list-menu hidden-xs">
                            <div class="select-background">
                                <div class="selector" style="transition: none 0s ease 0s; transform: translateY(0px);">
                                </div>
                            </div>
                            <li class="active"><i class="fa fa-code" aria-hidden="true"></i> &nbsp;Linked List</li>
                            <li class=""><i class="fa fa-code" aria-hidden="true"></i> &nbsp;Binary Tree</li>
                            <li class=""><i class="fa fa-code" aria-hidden="true"></i> &nbsp;Fibonacci</li><a
                                href="/playground/new/empty">
                                <li class="link-to-playground">Create Playground <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="2 2 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  </svg></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>