<div class="ipad">
    <div class="screen">
        <div class="row min-page">
            <div class="col-xs-9">
                <div class="app-draw">
                    <div class="block">
                        <div class="app blue">

                        </div>
                    </div>
                    <div class="block">
                        <div class="app green">

                        </div>
                    </div>
                    <div class="block">
                        <div class="app yellow">

                        </div>
                    </div>
                    <div class="block">
                        <div class="app red"></div>
                    </div>
                </div>
                <div class="some-list">
                    <div class="list-obj">
                        <div class="dot pull-right"></div>
                        <div class="item"></div>
                    </div>
                    <div class="list-obj">
                        <div class="dot pull-right"></div>
                        <div class="item"></div>
                    </div>
                    <div class="list-obj">
                        <div class="dot pull-right"></div>
                        <div class="item"></div>
                    </div>
                    <div class="list-obj">
                        <div class="dot pull-right"></div>
                        <div class="item"></div>
                    </div>
                    <div class="list-obj">
                        <div class="dot pull-right"></div>
                        <div class="item"></div>
                    </div>
                    <div class="list-obj">
                        <div class="dot pull-right"></div>
                        <div class="item"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 side-bar">
                <div class="progress-panel">
                    <div class="draw-pie">
                        <div class="pie" data-start="a" data-value="a"></div>
                        <div class="pie big static" data-start="b" data-value="b"></div>
                        <div class="pie big animate" data-start="b" data-value="b"></div>
                    </div>
                </div>
                <div class="list-panel">
                    <div class="list-item"></div>
                    <div class="list-item"></div>
                    <div class="list-item"></div>
                    <div class="list-item"></div><br>
                    <div class="list-item"></div>
                    <div class="list-item"></div>
                    <div class="list-item"></div>
                </div>
            </div>
        </div>
    </div>
</div>