<div class="container">
        <div class="row mb-3">
    <p class="col-md-10">
        At LeetCode, our mission is to help you improve yourself and land your dream job.
        We have a sizable repository of interview resources for many companies.
        In the past few years, our users have landed jobs at top companies around the world.
     </p></div>
    <div class="row">
        <div class="companies-showcase-base col-sm-8">
            <div class="inner-1">
                <i class="logo"><img class="company-logo facebook"
                         src={{imgFB}} title="Facebook" alt="Facebook" width="132px"></i>                
                <i class="logo"><img class="company-logo leap-motion"
                        src={{imgLM}} title="Leap Motion" alt="Leap Motion" width="83px"></i>
                <i class="logo"><img class="company-logo apple" src={{imgAP}}
                        title="Apple" alt="Apple" width="28.5px"></i>
                <i class="logo"><img class="company-logo uber" src={{imgUB}} title="Uber"
                        alt="Uber" width="71px"></i>
                <i class="logo"><img class="company-logo squarespace"
                        src={{imgSS}} title="Squarespace" alt="Squarespace" width="50px"></i>
                <i class="logo"><img class="company-logo jet" src={{imgJt}} title="Jet"
                        alt="Jet" width="60px"></i>
                <i class="logo"><img class="company-logo intel" src={{imgIt}}
                        title="Intel" alt="Intel" width="60px"></i>
                </div>
            <div class="inner-2">
                <i class="logo"><img class="company-logo amazon" src={{imgAz}}
                        title="Amazon" alt="Amazon" width="80px"></i>
                <i class="logo"><img class="company-logo bank-of-america"
                        src={{imgBoA}} title="Bank of America"
                        alt="Bank of America" width="150px"></i>
                <i class="logo"><img class="company-logo pinterest" src={{imgPin}}
                        title="Pinterest" alt="Pinterest" width="80px"></i>
                <i class="logo"><img class="company-logo cisco" src={{imgCis}}
                        title="Cisco" alt="Cisco" width="70px"></i>
                <i class="logo"><img class="company-logo stripe" src={{imgStr}}
                        title="Stripe" alt="Stripe" width="60px">
                </i>
            </div>
        </div>
    </div>
   
    <p>
        If you are passionate about tackling some of the most interesting problems around,
        we would love to hear from you.
    </p>
    <a class="join-our-team">Join Our Team</a>
</div>