<div class="content">
    <h2 style="color: rgb(37, 154, 243); font-size: 22px;">Questions, Community &amp; Contests</h2>
    <p>
        <span>Over 2200 questions for you to practice. Come and join one of the largest tech communities with hundreds
            of
            thousands of active users and participate in our contests to challenge yourself and earn rewards.</span>
    </p>
    <a routerLink="/problemSet">
        <p class="link">View Questions &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></p>
    </a>
</div>