<div class="content">
    <div class="section-header">
        <h2>Start Exploring</h2>
        <div class="feature-icon-base no-badge" style="transform: scale(0.7);">
            <div class="icon teal develop-icon">
                <div class="circle">
                    <i class="fa fa-graduation-cap"></i>
                </div>
            </div>
        </div>
    </div>
    <p>
        <span>Explore is a well-organized tool that helps you get the most out of LeetCode by providing structure to
            guide your progress towards the next step in your programming career.</span>
    </p>
    <a routerLink="/explore/">
        <p class="link">Get Started &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="2 2 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </p>
    </a>
</div>