<div class="content">
    <div class="section-header">
        <h2>Start Exploring</h2>
        <div class="feature-icon-base no-badge" style="transform: scale(0.7);">
            <div class="icon teal develop-icon">
                <div class="circle">
                    <i class="fa fa-graduation-cap"></i>
                </div>
            </div>
        </div>
    </div>
    <p>
        <span>Explore is a well-organized tool that helps you get the most out of LeetCode by providing structure to
            guide your progress towards the next step in your programming career.</span>
    </p>
    <a href="/explore/">
        <p class="link">Get Started &nbsp;
            <i class="fa fa-angle-right" aria-hidden="true">
            </i>
        </p>
    </a>
</div>