<div class="container text mt-100 text-center">
    <h1 style=" color: white;">
        A New Way to Learn
    </h1>
    <p style="color:grey">
        LeetCode is the best platform to help you enhance your skills, expand your knowledge and prepare for technical interviews.
    </p>
    <a class="flex-row btn sign-up-btn hover-panel round px-12 py-6 mt-30 border border-1" routerLink="/accounts/signup" style="background-color: green">
        <span style="color: rgb(235, 235, 235);"> Create Account 
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-right" viewBox="2 2 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg></span>
        
    </a>
</div>