<div class="container text mt-100 text-center">
    <h1 style=" color: white;">
        A New Way to Learn
    </h1>
    <p style="color:grey">
        LeetCode is the best platform to help you enhance your skills, expand your knowledge and prepare for technical interviews.
    </p>
    <a class="btn sign-up-btn hover-panel round px-12 py-6 mt-30 border border-1" href="#" style="color: green">
        Create Account &nbsp;
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
</div>