
      <li class="card" >
        <div class="card-body"style="width: max-content;padding: 0px;">
          <div class="top-card"style="width: max-content;">
            <img src='{{picture}}' class="card-img-top" style="height: 180px; width: 300px;">
          
            <div class="card-img-overlay">
            <div class="description">Detailed Explanation of</div>
            <h5 class="card-title">{{title}}</h5>
          </div>
          </div>

          <div class="bottom-card">
            <div class="card-text">Chapters {{chapters}}</div>
            <div class="card-text">Items {{items}}</div>
                <a href="#!" class="btn btn-primary">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>
                </a>
          </div>
        </div>
      </li>
