<div class="navbar" style="height:40px">
    <div class="nav-left">
        <div class="navbar-brand">
            <img src={{imglc}} alt="logo" width="40" height="40">
            <span class="lh">LeetCode</span>
        </div>
    </div>
    <div class="nav-right justify-content-end">
        <ul class="nav nav-tabs">
            <li class="item" >
                <a class="nav-prem" href="#">
                    Premium
                </a>
            </li>
            <li class="item" >
                <a class="nav-item" href="#">
                    Explore
                </a>
            </li>
            <li class=" item" >
                <a class="nav-item" href="#">
                    Product
                </a>
            </li>
            <li class="item" >
                <a class="nav-item" href="#">
                    Developer
                </a>
            </li>
            <li class="item" >
                <a class="nav-item" href="#">
                    Sign in
                </a>
            </li>
        </ul>
    </div>
</div>