<div>
    <lc-header>Loading header</lc-header>
</div>
<div style="background-color: darkgray;">
    <div class="container justify-content-center">
        <img src={{img1}} alt="leetcode logo" width="140" height="180">
        <h1>Get Started with a LeetCode subscription that works for you.</h1>
    </div>
    <div class="container justify-content-center">
        <h1> LeetCode is recommened by many interviewees and leading tech company recruiters, including</h1>
        <h2><a>Google, Apple, Facebook, Microsoft, Amazon</a> and more.</h2>
    </div>
    <div class="container justify-content-center">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="item">
                    <img src={{imgcsla}}>
                    <div class="text">
                        Had my on site interviews at Amazon and today the recruiter told me that I will get a job
                        offer.
                        Thank you to the whole LeetCode team!
                        <p>~ Georg Hennerbichler</p>
                    </div>
                </div>


                <div class="item">
                    <img src={{imgcslfb}}>
                    <div class="text">
                        After buckling down and studying the questions contained on LeetCode, the result is two
                        internship offers from Facebook and Bloomberg.
                        <p>~ Andy</p>
                    </div>
                </div>

                <div>
                    <div class="item">
                        <img src={{imgcslf}}>
                        <div class="text">
                            I gained all my coding skills from LeetCode, the reward is two onsite interviews with
                            Facebook
                            and LinkedIn, respectively. I am lucky to get Facebook's job offer!
                            <p>~ Yuanwei</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<lc-price>Loading...</lc-price>
<lc-footer>Loading...</lc-footer>