<div class="row price-section">
    <div class="container">
        <div class="row mb=4">
            <div class="col-sm-6 left">
                <div class="price-panel monthly">
                    <div class="header">
                        <p class="title">Monthly</p>
                        <p class="sub-title">Subscription</p>

                        <p class="price">$35<span class="text">/mo</span>

                        </p>
                    </div> <!-- End of header -->

                    <div class="body">
                        <strong>Down from $39/month.</strong><br>
                        Our monthly plan grants access to <strong>all premium features</strong>, the best plan for
                        short-term subscribers.
                        <small class="currency-notice">(prices are marked in USD)</small>
                    </div> <!-- End of body -->

                    <div class="footer">
                        <button type="button" class="btn btn-outline-secondary subscribe-btn" data-id="monthly">Subscribe</button>
                    </div> <!-- End of footer -->
                </div><!-- End of price-panel -->
            </div>
            <div class="col-sm-6 right">
                <div class="price-panel yearly">
                    <div class="header">
                        <p class="title">Yearly</p>
                        <p class="sub-title">Subscription</p>

                        <p class="price">$159<span class="text">/yr</span>

                        </p>
                    </div> <!-- End of header -->

                    <div class="body">


                        Our <strong>most popular</strong> plan previously sold for $299 and is now only

                        <strong>$13/month</strong>

                        . This plan <strong>saves you over 60%</strong> in comparison to the monthly plan.
                        <small class="currency-notice">(prices are marked in USD)</small>
                    </div> <!-- End of body -->

                    <div class="footer">
                        <button type="button" onclick="ga('send', 'event', 'subscribe-now-annual-new', 'click');"
                            class="btn btn-default subscribe-btn" data-id="yearly">Subscribe</button>

                    </div> <!-- End of footer -->
                </div><!-- End of price-panel -->
            </div>
        </div>
    </div>


</div>