<router-outlet></router-outlet>
<div class="card" style="width:400px">
    <img class="card-img-top" src={{img1}} alt="Card image">
    <div class="card-body">
      <a href="#"></a>
    </div>
  </div>
  <div class="card" style="width:400px">
    <img class="card-img-top" src={{img2}} alt="Card image">
    <div class="card-body">
      <a href="#"></a>
    </div>
  </div>
  <div class="card" style="width:400px">
    <img class="card-img-top" src={{img3}} alt="Card image">
    <div class="card-body">
      <a href="#"></a>
    </div>
  </div>