<div class="container-fluid d-flex">
    <div class="container flex-row">
        <h6>Welcome to</h6>
        <div class="inner row">
            <h5>LeetCode Explore</h5>
            <span>
                <i class="bi bi-star"></i>
                <i class="bi bi-clock"></i>
            </span>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div *ngFor ="let product of products" class="col-sm-4 card-space">
            <lc-explore-card title={{product.title}} picture={{product.picture}} [chapters]='product.chapters' [items]='product.items'>Loading explore card</lc-explore-card>         
        </div>
    </div>
</div>